
<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- USB Host -->
   application
        android:allowBackup="true"
        android:label="LCR Harness V2"
       ER"/>
            </intent-filter>

            <!-- Auto-launch when USB device is attached -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <!-- Link USB_ATTACHED to device_filter.xml -->
            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>


        <!-- ************ USB PERMISSION RECEIVER ************ -->
        <receiver
            android:name="com.pa.lcrdemo.UsbReceiver"
            android:exported="true">

            <intent-filter>
                <!-- MUST MATCH MainActivity.ACTION_USB_PERMISSION -->
                <action android:name="com.pa.lcrdemo.USB_PERMISSION" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
